*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 18px;
}

body {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0 0;
	background-color: #165666;
}

header {
    margin: 0 auto;
    background: #EAEFD0;
    height: 6rem;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    padding: 5px 10px;
    justify-content: space-between;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

@media (max-width: 768px) {
    header {
        width: 40rem;
    }
}

.header__logo {
    height: inherit;
    width: 5rem;
}

.header__lists {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem 0;
}

.link {
    text-decoration: none;
    color: #165666;

}

.link:hover {
    color: #68C2C0;
}

.why {
    display: flex;
    flex-direction: column;


}

.heading {
    color: #EAEFD0;
    display: flex;
    justify-content: center;
}

.heading__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 768px) {
    .heading__body {
        display: block;
        margin: 0 auto;

    }

}

.why__image {
    width: 50%
}

@media (max-width: 768px) {
    .why__image {
        width: 100%;

        margin: auto auto;
    }

}

.why__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

p {
    padding: 2rem 2rem;
    color: #888888
}

button {
    display: block;
    margin: 0 auto;
    background-color: #EAEFD0;
    border: none;
    padding: .25rem .75rem;
    border-radius: 0.25rem;
    color: #165666;
    font-size: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

button:hover {
    box-shadow: 0 4px rgba(0, 0, 0, 0.3);
}

.services {
    height: 100%;
    width: 100%;
    background-image: url("../Service_background.png");
    background-size: cover;
    padding: 5rem 10rem;
    margin-bottom: 3rem;
}

.services__left {
    width: 50%;

}
.services__right {
    width: 50%;
}

@media (max-width: 768px) {
    .services {
        padding: 5rem 1rem;
    }
    .services__left {
        float: left;
        width: auto;
    }
.services__right {
        float: right;
        margin-left: auto;
        width: auto;
    }
    .services__body {
        display: block;
        justify-content: space-between;
    }
}

.services__body {
    display: flex;
    flex-direction: row;

}



.services__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-color: #888888;
    gap: .75rem;
}

.services__listhome {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: .75rem;
    color: #F5F9E4;
}



footer {
    background-color: #32545C;
    padding: 2rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;

}

@media (max-width: 768px) {
    footer {
        width: 40rem;
    }
    ul {
        list-style-type: none;
        padding-inline-start: 0.5rem;
    }
}

.footer__left {
    width: 50%;
}

.footer__list {
    list-style-type: none;
}

.footer__link {
    text-decoration: none;
    color: #000000;

}

.footer__link:hover {
    color: #68C2C0;
}

.image__lefthalf {
    text-align: right;
    height: 15rem;
    margin: auto 4rem auto 4rem;

}

.image__righthalf {
    height: 15rem;
    text-align: left;
    margin: auto 4rem auto 4rem;
}

.about {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .image__lefthalf {
    text-align: auto;
    height: 15rem;
    margin: auto 4rem auto 4rem;

}
}

.image__righthalf {
    height: 15rem;
    text-align: left;
    margin: auto 4rem auto 4rem;
}


@media (max-width: 768px) {
    .about {
    display: block;


}
}



.services__form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 5rem;

}

.form__label{
    color: #EAEFD0;
    margin-right: .5rem;
}

.services__plans{
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-bottom: 2.5rem;
}

.services__plan {
    position: relative;
    background-color: #EAEFD0;
    border-radius: 20px;
    margin: 0 1rem;
    width: 15rem;
    height: auto;
    padding: .75rem;
    padding-bottom: 3rem;
}

#interior {
    margin-left: 1rem;
}


.plan__heading {
    margin: 1rem auto;
    display: grid;
    place-items: center;
    color: #1B6B7F
}

@media (max-width: 768px) {
    .services__plans{
        display: flex;
        flex-direction: row;
        justify-self: center;

    }
    .plan__heading {
        margin: 1rem auto;
        display: grid;
        place-items: center;
        color: #1B6B7F;
        font-size: 21px;
    }
    .services__plan {
        width: 7rem;
        padding: 0;
        padding-bottom: 3rem;
    }
}


.services__price {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #1B6B7F;
}

.social__logos {
    display: flex;
    flex-direction: row;
    padding: 5rem 2rem;
    margin-bottom: 40rem;
    justify-self: center;

}

.social__logo {
    margin: 3rem;
    height: auto;
    width: 10rem;
}

@media (max-width: 768px) {
    .social__logo {
        width: 5rem;
        margin: 1rem;

    }

}


.placeholder {
    height: 50rem;
}


.booknow__names {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    padding: 1rem;
    justify-self: center;
}

.booknow__last {
    margin-left: 7rem;
}

.booknow__contact {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-self: center;
    margin: 2rem 0;
}

.booknow__number {
    margin-left: 5rem;
}

.booknow__email {
    margin-left: 2.5rem;
}


@media (max-width: 768px) {
    .booknow__names {
        display: flex;
        flex-direction: column;

    }
    .booknow__last {
        margin-left: 0rem;
        margin-top: 2rem;
    }
    .booknow__contact {
        display: flex;
        flex-direction: column;
        padding: 0rem;
        justify-self: center;
    }
    .booknow__email {
        margin-left: 3.5rem;
        margin-bottom: 2rem;
    }
    .booknow__number {
        margin-left: 0rem;
    }
}

.booknow__address {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.booknow__street {
    text-align: center;
    margin-bottom: 2rem;
}
.booknow__apt {
    text-align: center;
    margin-left: 0.2rem;
    margin-bottom: 2rem;
}
.booknow__city {
    text-align: center;
    margin-right: 6.5rem;
    margin-bottom: 2rem;
}
.booknow__zip {
    text-align: center;
    margin-right: 6.3rem;
    margin-bottom: 2rem;
}

.booknow__serviceselection {
    text-align: center;
    margin-bottom: 2rem;
}

.booknow__packageselection {
    text-align: center;
    margin-right: 7.5rem;
}

@media (max-width: 768px) {
    .booknow__serviceselection {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 2rem;
    }

    .booknow__packageselection {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 0rem;
    }
}

.booknow__day {
    margin: 2rem 0;
    display: flex;
    justify-self: center;
}

.booknow__time {
    margin: 2rem 2.5rem 2rem 0;
    display: flex;
    justify-self: center;
}

.booknow__textarea {
    display: flex;
    justify-self: center;
    margin-bottom: 5rem;
}

.review__thankyou {
    padding: 2rem 5rem;
    color: #EAEFD0
}

.review__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.review__firsthalf {
    background-color: #EAEFD0;
    border-radius: 1rem;
    padding: 1rem 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    height: 100%
}

.review__model {
    display: flex;
    justify-content: space-between;
}

.review__package {
    display: flex;
    justify-content: space-between;

}

.review__price {
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid #000;
    margin: 1rem 0;
    padding-top: 1rem;
}

#addons {
    margin-top: 5rem;
}

.booknow__addonselection {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.review__packageprice {
    display: flex;
    justify-content: space-between;
}

.review__addons {
    display: flex;
    justify-content: space-between;
}
