<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Now</title>
    <meta name="author" content="Kyrillos"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link rel="icon" type="image/png" href="../static/Gnarly_logo.png"/>
</head>
<body>
    <header>
            <div>
                <img src="../static/Gnarly_logo.png" alt="The Gnarly Bros. Logo" class="header__logo"/>
            </div>
            <ul class="header__lists">
                <li><a href="/" class="link">Home</a></li>
                <li><a href="/about/" class="link">About</a></li>
                <li><a href="/services/" class="link">Services</a></li>
                <li><a href="/booknow/" class="link">Book Now</a></li>
                <li><a href="/socials/" class="link">Socials</a></li>
            </ul>

    </header>
    <main>
        {% if day == "invalid" %}
        <h1 class="heading">You choose an invalid day. Please go back and pick a valid day.</h1>
        <div class="placeholder"></div>
        {% elif times|length == 0 %}
        <h1 class="heading">No open times for this day. Please go back and try again.</h1>
        <div class="placeholder"></div>
        {% else %}
        <h1 class="heading">Choose a time</h1>
        <form action="/schedule/?entry_id={{ entry_id }}" method="POST">
            <div class="booknow__time">
                    <label for="time" class="form__label">Time:</label>
                    <select id="time" name="time">
                        {% for time in times %}
                        <option value="{{ time }}">{{ time }}:00</option>
                        {% endfor %}
                    </select>
            </div>
            <button type="submit">Review</button>
            <div class="placeholder"></div>
        </form>
        {% endif %}
    </main>
    <footer>
        <div class="footer__left">
            <ul class="footer__list">
                <li>Made by Kyrillos Abdelshaheed</li>
                <li><a href="https://www.instagram.com/gnarlybrosdetailing?igsh=cm5tYjFib210MmJi&utm_source=qr" class="footer__link">Instagram</a></li>
                <li><a href="https://www.facebook.com/share/15Pkiirc8b/?mibextid==wwXlfr" class="footer__link">Facebook</a></li>
                <li>757-375-8368</li>

            </ul>
        </div>
        <div class="footer__right">
            <ul class="footer__list">
                <li><a href="/" class="footer__link">Home</a></li>
                <li><a href="/about/" class="footer__link">About</a></li>
                <li><a href="/services/" class="footer__link">Services</a></li>
                <li><a href="/booknow/" class="footer__link">Book Now</a></li>
                <li><a href="/socials/" class="footer__link">Socials</a></li>

            </ul>
        </div>
    </footer>
</body>
</html>
