<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socials</title>
    <meta name="author" content="Kyrillos"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link rel="icon" type="image/png" href="../static/Gnarly_logo.png"/>
</head>
<body>
    <header>
            <div>
                <img src="../static/Gnarly_logo.png" alt="The Gnarly Bros. Logo" class="header__logo"/>
            </div>
            <ul class="header__lists">
                <li><a href="/" class="link">Home</a></li>
                <li><a href="/about/" class="link">About</a></li>
                <li><a href="/services/" class="link">Services</a></li>
                <li><a href="/booknow/" class="link">Book Now</a></li>
                <li><a href="/socials/" class="link">Socials</a></li>
            </ul>

    </header>
    <main>
        <h1 class="heading">FOLLOW US ON SOCIAL MEDIA!</h1>
        <div class="social__logos">
            <a href="https://www.instagram.com/gnarlybrosdetailing?igsh=cm5tYjFib210MmJi&utm_source=qr">
                <img src="../static/instagram.png" alt="The Instagram Logo" class="social__logo"/>
            </a>
            <a href="https://www.facebook.com/share/15Pkiirc8b/?mibextid==wwXlfr">
                <img src="../static/facebook.png" alt="The Facebook Logo" class="social__logo"/>
            </a>
            <a href="https://www.tiktok.com/@gnarlybrosdetailing">
                <img src="../static/tiktok.png" alt="The TikTok Logo" class="social__logo"/>
            </a>
        </div>
    </main>
    <footer>
        <div class="footer__left">
            <ul class="footer__list">
                <li>Made by Kyrillos Abdelshaheed</li>
                <li><a href="https://www.instagram.com/gnarlybrosdetailing?igsh=cm5tYjFib210MmJi&utm_source=qr" class="footer__link">Instagram</a></li>
                <li><a href="https://www.facebook.com/share/15Pkiirc8b/?mibextid==wwXlfr" class="footer__link">Facebook</a></li>
                <li>757-375-8368</li>

            </ul>
        </div>
        <div class="footer__right">
            <ul class="footer__list">
                <li><a href="/" class="footer__link">Home</a></li>
                <li><a href="/about/" class="footer__link">About</a></li>
                <li><a href="/services/" class="footer__link">Services</a></li>
                <li><a href="/booknow/" class="footer__link">Book Now</a></li>
                <li><a href="/socials/" class="footer__link">Socials</a></li>

            </ul>
        </div>
    </footer>
</body>
</html>
